################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex/6813228e-e0f1-412c-bf8a-5b7923e5f126.vsidx
